@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SayuJapnShop.Models.Customer
<style>
    .main {
        height: 350px;
        background-color: white;
        box-shadow: 0 2px 2px 2px grey;
        border-radius: 10px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    #mainForm {
        width: 850px;
        display: flex;
        justify-content: space-between
    }

    input {
        padding: 8px;
        width: 380px;
        outline: none;
        border: 2px solid grey;
        border-radius: 5px
    }

        input:focus {
            border: 2px solid blue;
        }

    p {
        font-size: 25px
    }

    button {
        width: 80px
    }

    #gender {
        padding: 8px;
        width: 380px;
        outline: none;
        border: 2px solid grey;
        border-radius: 5px
    }

    #radio {
        padding: 3px
    }
</style>

<div class="main">
    <p>Edit Customer</p>
    <form method="post" class="d-flex flex-column" asp-action="EditCustomer">
        <div class="d-flex mb-3" id="mainForm">
            <div class="d-flex flex-column">
                <input type="number" asp-for="CustomerId" readonly />
                <span></span>
            </div>
            <div class="d-flex flex-column">
                <input type="text" asp-for="CustomerName" placeholder="Phone" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
        </div>

        <div class="d-flex mb-3" id="mainForm">
            <div class="d-flex" id="gender">
                <span>Gender</span>
                <input type="radio" id="radio" value="Male" asp-for="Gender" />
                <span>Male</span>
                <input type="radio" asp-for="Gender" id="radio" value="Female" />
                <span>Female</span>
            </div>
            <div class="d-flex flex-column">
                <input type="text" asp-for="PhoneNumber" placeholder="Name" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                <span class="text-danger">@TempData["PhoneNumber"]</span>
            </div>
        </div>

        <div class="d-flex mb-3" id="mainForm">
            <div class="d-flex flex-column">
                <input type="text" asp-for="Address" placeholder="Name" />
                <span asp-validation-for="Address"></span>
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex" id="gender">
                    <span>Status</span>
                    <input type="radio" id="radio" value="active" asp-for="status" />
                    <span>active</span>
                    <input type="radio" asp-for="status" id="radio" value="Inactive" />
                    <span>Inactive</span>

                </div>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


